.google-play{
  text-align: center;
  width: 125px !important;
  margin: 0 auto;
  padding-top: 28px !important;
}

.line{
  background: #e3e3e3;
  background-color: #e3e3e3;
  height: 1px;
  width: 400px !important;
  color: #e3e3e3;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.main-content{
  a{
    color: #202124;
    font-size: 36px !important;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    padding-bottom: 15px !important;
  }

  img{
    margin-top: 20px;
    margin-bottom: 15px;
  }

  p{
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #5f6368;

  }

  .btn{
    background: #0179ca;
    font-size: 14px !important;
    color: #fff;
    text-decoration: none;
    padding: 10px !important;
    text-align: center;
    font-weight: 500;
  }

  .line{
    margin-top: 40px !important;
  }

  h3{
    text-align: center;
    margin-bottom: 10px;
  }

  .icons{
    h3{
      margin-bottom: 20px;
      font-size: 18px !important;
    }
    img{
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 50px !important;
      height: 50px !important;
    }
    p{
      margin: 0 !important;
      padding: 5px 40px !important;
      hyphens: none;
      font-size: 14px;
    }
  }
}

.footer{
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  background: #e9e9e9;
  background-color: #e9e9e9;

  .strong{
    margin-top: 40px;
    font-weight: bold;
  }
  p{
    color: #5f6368;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
  }
}
